* {
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-family: "Poppins", sans-serif;
}
section div {
  border: 1px solid black;
}
/*===================Main section 1(intro)=========================*/
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6vw;
  width: 100%;
  margin-top: 1%;
  font-size: 1.5vw;
  background-color: black;
  /*position: fixed;
  top: -10%;*/
}
#logo {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#logo h1 {
  font-size: 1.9vw;
  color: white;
  font-weight: 800;
}
#head_info {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-weight: 600;
}
.h_info:hover {
  text-decoration: underline;
  text-decoration-color: #ed661f;
  text-decoration-thickness: 4px;
}
#head_cred {
  width: 20%;
  height: 100%;
  padding-right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.h_info {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#head_b1 {
  width: 35%;
  height: 40%;
}
#head_b1 button {
  color: white;
  font-weight: 600;
  background-color: transparent;
}
#head_b2 {
  width: 60%;
  height: 60%;
  background-color: #ed661f;
  color: white;
}
#head_b2 button {
  background-color: #ed661f;
  color: white;
  font-weight: 600;
  border: none;
}
.head_bt button {
  height: 100%;
  width: 100%;
  font-size: 1.5vw;
  border: none;
}
/*===================Main section 1(intro)=========================*/
#section1 {
  height: 35vw;
  width: 100%;
  font-size: 1.6vw;
  line-height: 3vw;
  margin-top: 5%;
  background-image: url(/resources/Assets/image_1.png);
  background-size: contain;
  display: flex;
  flex-direction: row;
}
#sect1_img {
  height: 100%;
  width: 40%;
  background-image: url(/resources/Assets/image_2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#sect1_cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#sect1_header {
  padding-left: 10%;
  font-size: 2vw;
  font-weight: 800;
  line-height: 3.4vw;
}
#sect1_par1 {
  padding-left: 10%;
  font-weight: 200;
}
#sect1_info {
  padding-left: 10%;
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
#sect1_info button {
  height: 100%;
  width: 34%;
  font-size: 1.6vw;
  background-color: #ed661f;
  color: white;
  border: none;
}
/*===================Main section 2(why we exist)=========================*/
#section2 {
  height: 40vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.7vw;
  margin-top: 5%;
}
#sect2_div2 {
  width: 47%;
  height: 100%;
}
#sect2_div1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
#sect2_head {
  margin-left: 10%;
}
#sect2_head strong {
  text-decoration: underline;
  text-decoration-color: #ed661f;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}
#sect2_info {
  width: 80%;
  text-align: left;
  margin-left: 10%;
}
#sect2_div2 {
  height: 100%;
  width: 50%;
  background-image: url(/resources/Assets/image_3.png);
  background-size: contain;
}
/*===================Main section 3(Products and categories)=========================*/
#section3 {
  height: 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  margin-top: 5%;
}

/*===================Main section 4(Most Popular)=========================*/
#section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 50vw;
  margin-top: 6%;
}
/*===================Main section 5(Newest Items)=========================*/
#section5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 50vw;
  margin-top: 6%;
}
#sect5_cont {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card {
  width: 22%;
  height: 100%;
}
/*===================Main section 6(esteemed customers)=========================*/
#section6 {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  height: 500px;
}
#sect6_head {
  margin-bottom: 2%;
}
#sect6_cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90%;
}
.card2 {
  width: 30%;
  height: 100%;
}
/*=====================Footer===========================*/
/*======Footer Section 1=========*/
footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
}
/*=========Footer section 1============*/
#f2_container {
  width: 100%;
  height: 90%;
}
#f1_cont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 150%;
  align-items: center;
  height: 400px;
}
#f1_cont1 h2 {
  font-size: 250%;
}
#f1_cont1_1 {
  line-height: 250%;
  width: 50%;
}
#f1_cont1_2 {
  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#cont1_1 {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
}

#cont1_2 {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#cont1_2 button {
  height: 100%;
  width: 100%;
  background-color: #ed661f;
  color: white;
  font-size: 2vw;
}

/*===========footer 2===================*/
#footer2 {
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#f2_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#f2_cont1 {
  width: 40%;
  height: 100%;
}
.f2_conts {
  width: 30%;
  height: 100%;
}
#f2_cont1 {
  text-align: left;
  padding-left: 2%;
  line-height: 200%;
  font-size: 150%;
}
#ft_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 50%;
}
.f2_conts {
  height: 100%;
  text-align: left;
  padding-left: 5%;
  font-size: 150%;
  line-height: 200%;
}
.f2_conts h4 {
  font-size: 180%;
}
#par1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 150%;
  font-weight: 600;
}
#app {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.app {
  width: 50%;
  margin-top: 10%;
}
.badge {
  height: 100%;
  width: 100%;
}
