* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
div {
  border: 1px solid black;
}
/*=====================Footer===========================*/
